---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  return (await getCollection("notes"))
    .filter((note) => !note.data.draft)
    .map((note) => ({ params: { slug: note.id }, props: { post: note } }));
}

const { post } = Astro.props;
const { title, pubDate, description } = post.data;
const displayPubDate = post.data.pubDate.toISOString().split("T")[0];

const { Content } = await render(post);
---

<Layout {title} {description}>
  <article>
    <header>
      <h1>{title}</h1>
      <time datetime={pubDate.toISOString()}>Published: {displayPubDate}</time>
    </header>

    <Content />
  </article>
</Layout>

<style>
  header {
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--accent);
  }

  article {
    margin: auto;
    max-width: 80ch;
  }
</style>
