---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const title = "Notes";
const description =
  "Essays and technical notes on software engineering, security, systems design, " +
  "and the craft of building software that holds up over time. " +
  "Mostly things I’m actively working through or trying to understand better.";

const notes = (await getCollection("notes"))
  .filter((note) => !note.data.draft)
  .sort(
    (a, b) =>
      b.data.pubDate.valueOf() - a.data.pubDate.valueOf() ||
      a.data.title.localeCompare(b.data.title, "en", {
        sensitivity: "base",
      }),
  );
---

<Layout {title} {description}>
  <header>
    <h1>{title}</h1>

    <p>
      I write occasionally about what I'm working on or what I'm seeing around
      me. You can check back here for updates or subscribe via
      <a href="/rss.xml">RSS</a> if that's your kind of thing.
    </p>
  </header>

  {notes.length === 0 && <p>No posts yet.</p>}

  {
    notes.map((note) => (
      <article>
        <a href={`/notes/${note.id}`}>
          <header>
            <h2>{note.data.title}</h2>
            <time datetime={note.data.pubDate.toISOString().split("T")[0]}>
              {note.data.pubDate.toISOString().split("T")[0]}
            </time>
          </header>

          <p>{note.data.description}</p>

          <p>
            <a href={`/notes/${note.id}`}>[Read More...]</a>
          </p>
        </a>
      </article>
    ))
  }
</Layout>

<style>
  article {
    border-top: 3px solid var(--accent);

    & > a {
      display: block;
      color: var(--foreground);
      text-decoration: none;
    }
  }

  time {
    color: var(--accent);
  }
</style>
