---
import Layout from "../layouts/Layout.astro";

const title = "Meta";
const description = "What this site is and why/how I made it.";

const sourceCodeLink = "https://github.com/dallinhuff/dh";
---

<Layout {title} {description}>
  <header>
    <h1>{title}</h1>
  </header>

  <p>
    Most of my professional experience with the web has been building
    <em>applications</em> rather than <em>documents</em>. When building this
    site, I wanted to depart completely from that paradigm and return to the
    World Wide Web I knew when I was a kid: just plain old static HTML and CSS.
  </p>

  <p>
    This site uses <code>Astro.js</code> as a build tool to make things easier for
    me, but the end result is a simple collection of cache-friendly, fast-loading
    pages with no JavaScript, no "utility class" clutter in the markup, and no minified/uglified
    obfuscation of my source files.
  </p>

  <section>
    <h2>Credits</h2>

    <ul>
      <li>
        <a href="https://rkoziel.com" target="_blank">Radek Kozieł</a>
        — for his terrific <code>terminal.css</code> stylesheet
      </li>
      <li>
        <a href="https://aaadaaam.com" target="_blank">Adam Stoddard</a>
        — for inspiration from his clean site layout and navigation structure
      </li>
    </ul>
  </section>

  <section>
    <h2>License</h2>

    <p>
      The source code for this site is available at
      <a href={sourceCodeLink}>{sourceCodeLink}</a>
      and is licensed under the MIT License.
    </p>

    <p>
      All website content — including text, images, graphics, and blog posts —
      unless stated otherwise, is © 2026 Dallin Huff. All rights reserved.
    </p>
  </section>
</Layout>

<style>
  ul {
    margin-left: 0;
    list-style-type: none;
  }
</style>
