---
import { getCollection } from "astro:content";
import Job from "../components/Job.astro";
import Layout from "../layouts/Layout.astro";

const title = "Work";
const description =
  "A high-level overview of the problems I’ve worked on professionally or as a FOSS contributor. " +
  "Not exhaustive, just the work that’s interesting enough to explain in more detail.";

const professional = await getCollection("professional");
const education = await getCollection("education");
const foss = await getCollection("foss");
---

<Layout {title} {description}>
  <header>
    <h1>{title}</h1>

    <nav>
      <strong>Skip to:</strong>
      <a href="#professional">#professional</a>
      <a href="#education">#education</a>
      <a href="#projects">#projects</a>
    </nav>

    <p>
      This is a high-level overview of my work—both where I’ve worked and what
      I’ve worked on. I keep this page reasonably up to date, but my
      <a href="https://github.com/dallinhuff">GitHub</a> and
      <a href="https://linkedin.com/in/dallinhuff">LinkedIn</a>
      are the most current sources of truth.
    </p>

    <p>
      I don’t try to document everything I’ve ever done here; instead, I focus
      on work that’s worth going into more depth than I typically share
      elsewhere.
    </p>
  </header>

  <article id="professional">
    <h2>Professional</h2>

    {professional.map((job) => <Job data={job.data} />)}
  </article>

  <article id="education">
    <h2>Education & Certifications</h2>

    {education.map((cert) => <Job data={cert.data} />)}
  </article>

  <article id="projects">
    <h2>Projects & OSS Contributions</h2>

    {foss.map((project) => <Job data={project.data} />)}
  </article>
</Layout>
