---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  data:
    | CollectionEntry<"professional">["data"]
    | CollectionEntry<"education">["data"]
    | CollectionEntry<"foss">["data"];
}

const {
  data: { organization, role, start, end, image, description },
} = Astro.props;
---

<section>
  <header>
    <Image src={image} alt={organization} />
    <div>
      <h3>{organization}</h3>
      <p>{role}</p>
      {
        start === end ? (
          <p>{start}</p>
        ) : (
          <p>
            {start} &ndash; {end ?? "Present"}
          </p>
        )
      }
    </div>
  </header>

  <div></div>
  <div>
    {description.split("\n").map((line) => <p>{line}</p>)}
  </div>
</section>

<style>
  section {
    display: grid;
    grid-template-columns: 100px auto;
    gap: 0 2ch;

    & > header {
      display: contents;

      & img {
        border-width: 0;
        border-radius: 50%;
        padding: 0;
        width: 90px;
        height: 90px;
      }

      & > div {
        padding-top: 8px;

        & > h3 {
          color: var(--accent);
          margin-bottom: 0.25rem;
        }

        & > p {
          margin: 0;
        }
      }
    }

    & > div {
      margin-top: -25px;
    }
  }
</style>
