---
import PageHeader from "../components/PageHeader.astro";
import PageFooter from "../components/PageFooter.astro";

const { title = "Dallin Huff", description = "" } = Astro.props;
const canonicalUrl = new URL(Astro.url.pathname, import.meta.env.SITE).href;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <meta name="application-name" content="Dallin Huff" />
    <title>{title}</title>
    <meta name="author" content="Dallin Huff" />
    <meta name="description" content={description} />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="alternate" type="application/rss+xml" href="/rss.xml" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="/terminal.css" />
    <meta name="generator" content={Astro.generator} />

    <meta property="og:locale" content="en" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalUrl} />
  </head>

  <body>
    <PageHeader />
    <main>
      <slot />
    </main>
    <PageFooter />
  </body>
</html>

<style>
  body {
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 84ch;
    min-height: 100vh;

    & > * {
      flex-grow: 0;
      flex-shrink: 0;
    }

    & > main {
      flex-grow: 1;
      margin-bottom: 2rem;
    }
  }
</style>
